<div class="jumbotron p-3 mt-3 shadow-sm">
  <h1 class="display-4">parceled-app-api</h1>
  <p class="lead">api for parceled-app-api front-end app. this REST api alows to manage database resources.</p>
</div>

<div class="py-3">
  <%= render "data/properties" %>
</div>

